{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Твои дополнительные CSS -->
    <link href="{% static 'inventory/css/comon_spr.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'menu' 'spr' %}">
                <span class="first-letter" style="color: red;">С</span>правочники 📚
            </a>
            <a class="navbar-brand" href="{% url 'menu' 'docs' %}">
                <span class="first-letter" style="color: red;">Д</span>окументы 📄
            </a>
            <a class="navbar-brand" href="{% url 'menu' 'reports' %}">
                <span class="first-letter" style="color: red;">О</span>тчеты 📊
            </a>
            <a class="navbar-brand" href="{% url 'qr_simple' %}">
                <span class="first-letter" style="color: red;">П</span>ечать QR
            </a>
        </div>
    </nav>

    <!-- Добавляем container с отступами -->
    <div class="container-fluid px-4">  <!-- или container, если хочешь фиксированную ширину -->
        <div class="row">
            <div class="col-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- htmx -->
    <script src="{% static 'htmx/htmx.js' %}"></script>

    <!-- Твои дополнительные скрипты -->
    <script src="{% static 'inventory/js/main.js' %}"></script>

    {% block extra_js %}{% endblock %}

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>

    <style>
        /* Запрещаем горизонтальный скролл глобально */
        html, body {
            overflow-x: hidden;
            width: 100%;
        }
    </style>
</body>
</html>