{% extends 'inventory/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 mt-4">
        <!-- Заголовок и блок с поиском + кнопка -->
        <div class="d-flex justify-content-between align-items-start mb-2">
            <h4 class="mb-0">{{ title }}</h4>

            <!-- Контейнер для поиска и кнопки -->
            <div class="d-flex">
                <input type="text"
                       class="form-control form-control-sm"
                       placeholder="Поиск"
                       style="width: 400px; border-top-right-radius: 0; border-bottom-right-radius: 0;"
                       name="search"
                       hx-get="{% url 'search_spr' section %}"
                       hx-trigger="keyup changed delay:500ms"
                       hx-target="#search-results"
                       hx-indicator="#spinner">

                <button type="button" class="btn btn-success btn-sm p-0"
                        style="width: 31px; height: 31px; margin-top: 2px; margin-left: -1px; border-top-left-radius: 0; border-bottom-left-radius: 0; display: flex; align-items: center; justify-content: center;">
                    +
                </button>
            </div>
        </div>

        <!-- Индикатор загрузки (спиннер) -->
        <div id="spinner" class="htmx-indicator text-center py-2">
            <div class="spinner-border spinner-border-sm text-secondary" role="status">
                <span class="visually-hidden">Поиск...</span>
            </div>
        </div>

        <!-- Таблица с результатами поиска -->
        <div id="search-results">
            {% include 'inventory/partials/spr_table.html' %}
        </div>
    </div>

    <div class="col-md-2"></div>
</div>
{% endblock %}