{% extends 'inventory/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Подключаем внешний CSS файл -->
    <link rel="stylesheet" href="{% static 'css/comon_spr.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 mt-4">
        <!-- Заголовок и блок с поиском + кнопка -->
        <div class="d-flex justify-content-between align-items-start mb-0">
            <h5 id='spr_title' class="mb-0">{{title}}{{section}}</h5>

            <!-- Контейнер для поиска и кнопки -->
            <div class="d-flex">
                <input type="text" style="width: 400px;" class="form-control form-control-sm global-search" placeholder="🔍 Поиск...">

{% if section == 'incom' %}
                <a href="/create_doc_inc" type="button"
                        class="btn btn-warning btn-sm ms-2 px-3"
                        style="height: 31px;">Создать документ</a>
                {% elif section == 'move' %}
                <a href="/create_doc_move" type="button"
                        class="btn btn-warning btn-sm ms-2 px-3"
                        style="height: 31px;">Создать документ</a>
{% endif %}





            </div>
        </div>

        <!-- Индикатор загрузки -->
        <div >
        </div>

        <!-- Таблица с результатами поиска -->
        <div id="search-results"
             style="max-height: 78vh; overflow-y: auto; overflow-x: hidden; border: 1px solid #dee2e6; margin-bottom: 20px;margin-top:20px">
            {% include 'inventory/partials/doc_table.html' %}
        </div>
    </div>

    <div class="col-md-2"></div>
</div>



{% endblock %}