{% extends 'inventory/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3 mb-4">
    <h3 class="mb-4 text-dark border-bottom pb-2">{{ title }}</h3>

    <div class="row g-3 pb-3">
        {% for key, value in data.items %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100 border">
                <div class="card-body text-center p-4">
                    <h5 class="card-title fw-normal mb-3 ">{{ value }}</h5>
                    <a href="{% url kind key %}"
                       class="btn  px-4 mt-2 border-1"
                    style="background-color: #fff3cd; border-color: gray; color: black;">
                        Открыть
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
/* Минималистичный плоский дизайн */
.card {
    border-radius: 0; /* Убираем скругление */
    background-color: #fff;
    transition: background-color 0.1s ease;
}

.card:hover {
    background-color: #fafafa; /* Едва заметная реакция при наведении */
}

.btn-outline-secondary {
    border-radius: 0; /* Квадратная кнопка */
    border-width: 1px;
    color: black;
    transition: all 0.1s ease;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
}

/* Минималистичная линия под заголовком */
.border-bottom {
    border-bottom: 1px solid black !important;
}
</style>
{% endblock %}