





<div class="modal fade" id="addObktModal" tabindex="-1" aria-labelledby="addModalObktLabel" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalObktLabel">Добавление объекта</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form hx-post="{% url 'add_obkt_row' %}"
                  hx-target="#search-results-tbody"
                  hx-swap="beforeend"
                  hx-on::after-request="
                      if(event.detail.successful) {
                          this.reset();
                          bootstrap.Modal.getInstance(document.getElementById('addObktModal')).hide();
                      } else {
                          document.getElementById('obkt-error-message').innerHTML = event.detail.xhr.response;
                          document.getElementById('obkt-error-message').style.display = 'block';
                      }">

                {% csrf_token %}

                <div class="modal-body">
                    <div id="obkt-error-message" class="alert alert-danger" style="display: none;"></div>

                    <div class="mb-3">
                        <label for="obktName" class="form-label">Наименование объекта</label>
                        <input type="text"
                               class="form-control"
                               name="title"
                               id="obktName"
                               placeholder="Введите наименование"
                               required
                               oninput="document.getElementById('obkt-error-message').style.display='none'">
                    </div>

                    <div class="mb-3">
                        <label for="podrazSelect" class="form-label">Подразделение</label>
                        <select class="form-select"
                                name="podraz_id"
                                id="podrazSelect"
                                required>
                            <option value="" selected disabled>Выберите подразделение</option>
                            {% for podraz in podraz_list %}
                                <option value="{{ podraz.id }}">{{ podraz.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Сохранить</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>